

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokeQuiz</title>
    <link rel="stylesheet" type="text/css" href="~/estilos.css">
</head>
<body>
    <nav>
        <img src="~/images/pokequiz.png">
    </nav>
    <div>
        <a href="~/Home/Quiz">Iniciar</a>
        <img src="~/images/portada.png" />
    </div>

</body>
</html>